fastapi~=0.103.0
packaging
pydantic~=2.3.0
pyzmq~=25.1.2
torch
transformers~=4.36.2
uvicorn[standard]~=0.23.2
uvloop~=0.19.0

# prebuilt_apps dependencies
[prebuilt_apps]
accelerate
bitsandbytes
boto3
numpy
Pillow
requests